%ul.body__messages
  %li.body__messages_username
    = message.user.name
  %span.body__messages_date
    = time_format(message.created_at)
- if message.body.present?
  %li.body__messages_message
    %p= message.body
%p= image_tag message.image.url if message.image.present?

