!!!
.wrapper
  .flash
  .leftwrapper
    .leftcontent
      .username
        %h1 ユーザーネーム
        %li.username__icons
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-cog
      .groups
        - @groups.each do |group|
          %dl.groups__group-name
            = group[:name]
          %dt.groups__message 新着メッセージがありません。

  .rightwrapper
    .rightcontent
      .header
        .header__left
          %h3 Sampleグループ
          %p member1member2member3
        .header__right
          = link_to edit_group_path(current_user) do
            Edit
      .body
        %ul.body__messages
          %li.body__messages_username UserName
          %span.body__messages_date 2017/10/30
          %li.body__messages_message happyhalloween!!
        %ul.body__messages
          %li.body__messages_username UserName
          %span.body__messages_date 2017/10/30
          %li.body__messages_message happyhalloween!!
      .footer
        .form
          %input{class: "form__message", type: "text", placeholder: "type a message"}
          .form__right
            %label{class: "form__right_label", for: "form__image"}
              %i.fa.fa-picture-o
              %input{class: "hide",type: "file", id: "form__image"}
          %input{class: "form__submit", type: "submit", value: "Send"}

