!!!
.wrapper
  .flash
  .leftwrapper
    .leftcontent
      .username
        %h1= current_user.name
        %li.username__icons
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-cog

      = render partial: "messages/newmessage"
