// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$messagecolor: #434A54;
$top-button: #38AEF0;

.wrapper{
  width: 100vw;
  height: 100vh;
  margin:0 auto;

    .leftwrapper{
      width: 300px;
      height: 100vh;
      background-color: #2f3e51;
      float: left;

        .leftcontent{
          width: 300px;
          height: 100vh;


            .username{
              height: 96px;
              width: 260px;
              background-color: #253141;
              padding: 0 20px;


                h1{
                  font-size: 16px;
                  color: #FFFFFF;
                  font-weight: bold;
                  line-height: 96px;
                  float: left;
                }

                &__icons{
                  float: right;
                  list-style: none;
                  line-height: 96px;
                  text-decoration: none;

                    i{
                      color: white;
                      padding: 0 5px;
                        &:hover{
                          color: blue;
                        }
                    }
                }
            }

            // .groups以下 _groups.scssへ
        }
    }

    .rightwrapper{
      height: 100vh;
      width: calc(100vw - 300px);
      float: left;


        .rightcontent{
          width: calc(100vw - 300px);
          height: 100vh;


            .header{
              height:95px;
              width: calc(100vw - 380px);

              padding: 0 40px;

                &__left{
                  float: left;

                    h3{
                      font-size: 18px;
                      color: #333333;
                      padding-top: 35px;
                      padding-bottom: 15px;
                    }

                    p{
                      font-size: 12px;
                      color: #999999;
                      float: left;
                      padding-right: 5px;
                    }
                }

                &__right{
                  float: right;

                  width: 100px;
                  height: 96px;
                    a{
                      display: inline-block;
                      width: auto;
                      height: 40px;
                      line-height: 40px;
                      text-align: center;
                      color: $top-button;
                      padding: 0 20px;
                      border: 1px solid $top-button;
                      margin-top: 28px;
                      text-decoration: none;
                      float: right;
                    }
                }
            }


              // 以下 _chat.scssファイルに

            .footer{
              height: 90px;
              padding: 0 40px;
              width: calc(100vw - 380px);
              // background-color: red;
                .form{
                  padding: 10px 0;

                    &__message{
                      width: 720px;
                      height: 50px;
                      padding: 0 10px;
                      font-size: 16px;
                      color: #FFFFFF;
                      float: left;
                      border: none;
                      background-color: black;
                    }

                    &__right{
                      width: 34px;
                      height: 50px;
                      float: left;
                      background-color: black;

                          &_label{
                            font-size: 20px;
                            line-height: 50px;
                            padding-right: 10px;

                              i{
                                display: inline-block;
                                color: #FFFFFF;
                              }

                              .hide{
                                display: none;
                              }
                          }
                    }

                    &__submit{
                      height: 50px;
                      margin-left: 15px;
                      background-color: #38AEF0;
                      border: none;
                      float: right;
                      font-size: 16px;
                      padding: 0 30px;
                      color: #FFFFFF;
                    }
                }
            }
        }
    }
}





